
body {
  margin: 0;
  font-family: "Open Sans", Times, serif;
}

.header {
  height: 50px;
  background: #fff;
  position: relative;
  line-height: 50px;
  vertical-align: middle;
  padding: 0 100px;
}

.header a {
  text-decoration: none;
}

.header a:hover{
  text-decoration: none;
  color: darkgray;
}

.header > a {
  text-decoration: none;
  color: lightslategray;
  float: left;
}

.header .right {
  float: right;
}

.header .right nav{
  display: inline-block;
}

.header .right nav a{
  margin: 0 10px;
}

.header .right img {
  width: 40px;
  height: 20px;
  right: 50px;
}

section {
  height: 700px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 32px;
}

.content_text {
  font-size: 10x;
  margin: 30px ;
}

.WordPress {
  position: relative;
  color: #000;
  text-align: center;
}

.WordPress img{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1;
  left: 0;
  z-index: -1;
}

.WordPress .center .title{
  width: 420px;
  text-align: center;
  margin: 10px;
}

.WordPress .center nav .download {
  border: #ff6 1px solid;
  font-size: 10px;
  height: 40px;
  width: 150px;
  background: rgb(0, 0, 0);
  color: #FFF;
}

.readmore {
  font-size: 10px;
  height: 40px;
  width: 150px; 
  color: #FFF;
  background-color: rgb(146, 115, 231);
  border: 0;
}

.readmore:hover{
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}


.seo {
  vertical-align: middle;
}

.seo .imgbox{
  float: left;
  height: 100%;
  width: 60%;
  position: relative;
}

.seo .imgbox img{
  width: 80%;
  margin: auto;
}

.seo .box{
  float: right;
  width: 40%;
  height: 100%;
  position: relative;
  color: #000;
}

.seo .box .center .content {
  color: rgb(0, 0, 0);
}

.protfolio {
  vertical-align: middle;
  background-color: lavender;
}

.protfolio .box {
  float: left;
  width: 40%;
  height: 100%;
  position: relative;
  color: #000;
}

.protfolio .imgbox {
  float: right;
  height: 100%;
  width: 60%;
  position: relative;
}

.protfolio .imgbox img{
  width: 80%;
  margin: auto;
}

.protfolio .box .content {
  color: rgb(0, 0, 0);
}

.footer {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  background: #000;
  color: #ff69B4;
  padding-left: 100px;
}

.copyright {
  margin: 0;
  font-size: 10px;
}

.white {
  color: white;
}
.gray{
  color: lightgray;
}